@page
@model EventMentorSystem.Areas.Identity.Pages.Account.ForgetPasswordModel

<div class="overlay-container">
    <div class="overlay">
        <div class="overlay-panel overlay-right">
            <img width="150px" height="150px" src="~/Image/lock.png" />
        </div>
    </div>
</div>
<div class="form-container log-in-container">
    <form id="account" method="post">
        <div class="text-center demo1">
            <img src="~/Image/em.png" width="55px" height="55px" class="rounded" alt="not">
        </div>
        <h3 style="margin-bottom: 5px;">Reset password</h3>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <input type="text" asp-for="Input.Email" class="form-control demo" placeholder="Email">
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="password" asp-for="Input.Password" class="form-control demo" placeholder="password">
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="password" asp-for="Input.ConfirmPassword" class="form-control demo" placeholder="password">
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <button class="button-34" type="submit">Reset</button>
        <a href="identity/account/Login">GO to Login</a>
    </form>
</div>


