@page
@model LogoutModel
@using Microsoft.AspNetCore.Identity
@using EMS.DB.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
   
    ViewData["Title"] = "Log out";
}

<header>
    <img width="150px" height="150px" class="lockout" src="~/Image/logout.png" />
    <h1 style="text-align:center;padding:5px">@ViewData["Title"]</h1>
    @{
        if (User.Identity.IsAuthenticated)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="button-34" style="background-color: #594ae2;">Click here to Logout</button>
            </form>
        }
        else
        {
            
                <p style="text-align: center;font-size:20px;margin-bottom:10px;">You have successfully logged out of the application.</p>
                <div style="text-align: center;" >
                <a href="https://localhost:44304/identity/account/login"class="loginlink">Go to login.</a>
                </div>
        }
    }
</header>