<label><FontLabel FontColor="#06021C" Fontweight="600">@ChildContent</FontLabel></label>

@code {
    /// <summary>
    /// Set html body
    /// </summary>
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
